* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

* h1 {
  font-family: 'Philosopher', sans-serif;
}

* p {
  font-family: 'Kreon', serif;
}

#enter-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

#overlay-cover {
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

#overlay-video {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

#enter-button {
  position: absolute;
  z-index: 300;
  width: 20%;
  height: 10%;
  font-family: 'Philosopher', sans-serif;
  font-size: 50px;
  border-radius: 10px;
  transition: 700ms;
  background-color: white;
  color: black;
}

#enter-button:hover {
  transition: 700ms;
  background-color: black;
  color: white;
}

#container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  background-color: white;
}

header, .filter-selector {
  display: flex;
  width: 100%;
  height: 10%;
}

header {}

.filter-selector {
  width: 75%;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.showcase {
  display: flex;
  width: 100%;
  height: 45%;
}

#gallery-wrapper {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.gallery {
  margin: auto;
  width: 75%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  align-content: flex-start;
}

#signature {
  position: absolute;
  width: 25%;
}

header ul, .filter-selector ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.filter-selector ul {
  width: 100%;
  height: 100%;
}

header ul {
  width: 50%;
  margin: auto;
}

.header-nav-item, .filter-item {
  padding: 0px 5px;
}

.dropdown {
  margin-left: 13em;
}

.catagory {
  height: 45px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Oswald', serif;
  width: 120px;
  transition: 550ms;
}

.catagory:hover {
  cursor: pointer;
}

.active-cat {
  color: white;
  background-color: rgba(50, 50, 50, 1);
}

.showcase {
  margin: auto;
  width: 80%;
  height: 50%;
  position: relative;
}

#nav-page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  transition: ease-out 1s;
}

#home-page {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#info-page {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}

#request-page {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 200%;
  top: 0;
}

.showcase-img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
  top: 0;
  left: 0;
  background-color: rgb(24, 24, 24);
}

.showcase-img {
  background-size: cover;
  width: 33.33%;
  height: 100%;
  filter: grayscale(1);
}

.gallery-img {
  opacity: 0;
  background-size: cover;
  width: 100px;
  height: 100px;
  box-shadow: 6px 4px 10px grey;
  margin: .9rem .9rem;
}

.showcase-text-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: 10%;
  z-index: 0;
  width: 100%;
  height: 45%;
}

.showcase-header {
  z-index: 10;
  color: white;
  font-size: 3rem;
}

.showcase-text {
  text-align: center;
  z-index: 10;
  width: 50%;
  height: 100%;
  color: rgba(231, 246, 253, 0.972);
  font-size: 2rem;
}

.no-show {
  opacity: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 90%;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
}

.qrt-box {
  width: 50%;
  height: 50%;
}

.half-box {
  width: 50%;
  height: 100%;
}

.box-text-container {
  overflow: auto;
  overflow-x: hidden;
  margin: auto;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-text-container h1 {
  margin-bottom: 20px;
}

.box-text-container p {
  font-size: 1.5rem;
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#self-pic {
  width: 60%;
  height: 80%;
}

#image-showcase-bg {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: -1;
}

#image-showcase-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#showcase-left, #showcase-center, #showcase-right {
  height: 100%;
}

#showcase-left, #showcase-right {
  width: 30%
}

#showcase-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%
}

#showcase-left, #showcase-right {
  display: flex;
  align-items: center;
}

#showcase-left {
  background-color: hotpink;
  justify-content: end;
}

#showcase-right {
  background-color: indigo;
  justify-content: start;
}

#image-showcase-name {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: grey;
}

#image-showcase-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#next-button, #prev-button {
  width: 3rem;
  height: 3rem;
  background-color: lawngreen;
  border-radius: 40%;
}

