* {
  margin: 0;
  padding: 0;
<<<<<<< Updated upstream
 
=======
  box-sizing: border-box;
>>>>>>> Stashed changes
}

* h1 {
  font-family: 'Philosopher', sans-serif;
}

* p {
  font-family: 'Kreon', serif;
}

.App {
  height: 100vh;
  width: 100vw;
}

#enter-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

#overlay-cover {
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

#overlay-video {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

#enter-button {
  position: absolute;
  z-index: 300;
  width: 20%;
  height: 10%;
  font-family: 'Philosopher', sans-serif;
  font-size: 50px;
  border-radius: 10px;
  transition: 700ms;
  background-color: white;
  color: black;
}

#enter-button:hover {
  transition: 700ms;
  background-color: black;
  color: white;
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header, .filter-selector {
  display: flex;
  justify-content: center;
  width: 100%;
<<<<<<< Updated upstream
}
.filter-selector{
  width:75%;
  height:65px;
  margin:auto;
=======
  height:10%;
}
header{
  margin-bottom:5px;
  position: relative;
  margin-top:5px;
}
.filter-selector{
  width:75%;
  height:60px;
  margin:auto;
  margin-top:30px;
  padding-bottom: 5px;
>>>>>>> Stashed changes
}
.showcase {
  display: flex;
  width: 100%;
  height: 45%;
}
#gallery-wrapper{
  display: flex;
<<<<<<< Updated upstream
 flex:1;
}
.gallery {
=======
  flex-direction: column;
  flex:1;

}
.gallery {
  margin:auto;
  margin-top: 30px;
>>>>>>> Stashed changes
  width:75%;
  flex:1;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
}

#signature {
  position: absolute;
  left: 0;
  height:100%;
  width: 25%;
}

header ul, .filter-selector ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  height:55px;
}
.filter-selector ul{
  width:100%;
  height:100%;
}
header ul {
  flex: .5;
}

.header-nav-item, .filter-item {
  padding: 1em 2em;
}

.dropdown {
  margin-left: 13em;
}


.catagory {
<<<<<<< Updated upstream
  font-size: 1.3em;
  font-family: 'Oswald', serif;
  transition: 550ms;
=======
  text-align:center;
  width:200px;

  font-size: 1.5rem;
  font-family: 'Oswald', serif;
  transition: 1200ms;
  
>>>>>>> Stashed changes
}

.catagory:hover {
  cursor: pointer;
}

.active-cat {
  color: white;
<<<<<<< Updated upstream
  background-color: rgb(24, 24, 24);
=======
  background-color: rgb(66, 66, 66);
  border: 1px solid white;
  
>>>>>>> Stashed changes
}

.showcase {
  position: relative;
}

.showcase-img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
  top: 0;
  left: 0;
  background-color: rgb(24, 24, 24);
}

.showcase-img {
  background-size: cover;
  width: 33.33%;
  height: 100%;
  filter: grayscale(1);
}

.gallery-img {
 
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: 10px 10px;
  box-shadow: 0px 8px 5px grey;
}

.showcase-text-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.showcase-header {
  z-index: 10;
  color: white;
  font-size: 3em;
}

.showcase-text {
  text-align: center;
  z-index: 10;
  width: 50%;
  color: rgba(231, 246, 253, 0.972);
  font-size: 2em;
}